# --- Python 编译文件 (必须忽略) ---
__pycache__/
*.py[cod]
*$py.class

# --- PyCharm/IDE 配置文件 (建议忽略) ---
# 忽略 .idea 文件夹可以防止把你的本地配置(如窗口布局、本地路径)强制同步给别人
.idea/
*.iml

# --- 虚拟环境 (千万不要上传) ---
# 你的环境包含了几百兆的库文件，必须忽略
venv/
.venv/
env/
ENV/

# --- 操作系统生成的垃圾文件 ---
.DS_Store
Thumbs.db

# --- 环境变量与敏感信息 (安全第一) ---
.env
.env.local

# --- 构建与打包文件 ---
build/
dist/
*.egg-info/

# --- Jupyter Notebook 检查点 ---
.ipynb_checkpoints
